@import "./Globals.scss";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #0004;
  backdrop-filter: blur(5px);
  color: #cacaca;

  .app-main {
    display: flex;
    flex-direction: column;
    margin: $headerHeight auto 0 auto;
    flex-grow: 1;
    overflow: hidden;
  }
}
