@import "./Globals.scss";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: $headerHeight;
  background: $colorBlack;

  .logo {
    width: $logoWidth;
  }

  .title {
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-grow: 1;
    font-size: xx-large;
    margin-right: $logoWidth;

    .show {
      font-weight: 300;
      color: $colorGray;
    }

    .finder {
      font-weight: 700;
      color: $colorWhite;
    }
  }
}
